doctype html
html
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")

        title AutoHome

        //- Fonts
        link(href="/css/font-awesome.min.css", rel="stylesheet")
        link(href="/css/iec-power.min.css", rel="stylesheet")

        //- Styles
        link(href="/css/bootstrap.min.css", rel="stylesheet")
        link(href="/css/autohome.less", rel="stylesheet")

        //- Scripts
        script(src="/js/jquery.min.js")
        script(src="/socket.io/socket.io.js")
        script(src="js/controls.js")

        //- Predefined controls
        include ../jade/controls
    body
        .container-fluid
            block content

        script(src="/js/bootstrap.min.js")