extends ./layout

block content
    //- Index scripts
    script(src="js/index.js")

    +switch("Thing numero uno", "thing1")
    +select("Thing #dos", "thing1", { "State 1": true, "State 2": false })